.dark {
    background-color:#000040;
    color:#ffffff;
  }

  .content_back{
    background-image: url('/assets/imgs/settings.jpg');
    background-position: center;
    
    width:100%;
    height:100vh;
  }
 

  .contmainer {
    width: 100%;
    height: 100vh;
    margin: 10px;
    border: 1px solid #555;
  }

  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .is-mobile .toolbar {
    position: fixed;
    z-index: 2;
  }
  
  .toolbar_margin {
    padding-top: 6px;

  }

  h1.app-name {
    padding-bottom: 6px;
    margin-left: 8px;
  }
  
  .sidenav-container {
    flex: 1;
  }
  
  .is-mobile .sidenav-container {
    flex: 1 0 auto;
  }
  
  

  .home-icon {
    padding: 0 14px;
  }
  
  .home-spacer {
    flex: 1 1 auto;
  }
  
  
 
  
 